.curso{
            padding: 5px;
            display: inline-block;
            vertical-align: top;
            margin: 5px 20px;
            width: 260px;
            height: 300px;
            border: solid 1px silver;
            box-shadow: 0px 4px 5px 0px rgb(57, 57, 58);
            
        }
        .curso img{
            width: 100%;
            max-height: 50%;
        }

        .curso-info{
            font-family: Verdana sans-serif;
            padding: 10px;
            height: 90px;
            overflow: hidden;
        }

        .curso-info h4{
            font-size: 1.4em;
            font-weight: 100;
            margin: 0;
            overflow: hidden;
        }
        .curso-preco{
            float: right;
            padding: 20px;
        }

        .preco-de{
            text-decoration: line-through;
            color: red;
        }
        .preco-por{
            color: green;
            font-size: 1.4em;
            font-weight: bold;
        }
